/* styles.css */

body {
  background: #eee;
  font-family: sans-serif;
  
}

.old-site {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}   

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

#odin-recipes {
    text-align: center;
}

li {
    margin: 12px;
}